<div id="footer">
    <div class="about">
        <p>
            Акции, спецпредложения, сезонные скидки, раннее<br>
            бронирование, горящие туры, путешествия в рассрочку<br>
            или в кредит
        </p>
        <a href="#">Политика конфиденциальности</a>
    </div>
    <div class="contacts">
        <p>
            ул. Мало-Тобольская, д. 19, оф. 105<br>
            г. Барнаул, Алтайский край, Россия, 656056
        </p>
        <p>Макеты сайта &mdash; <a href="#">студия Dise</a></p>
        <div class="credit-cards"></div>
    </div>
</div>