{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Онлайн-бронь{% endblock %}

{% block body_content %}
    {% set menu_active = 'booking' %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="booking-page">
        <div class="header-separator"></div>
        <div class="heading"><h1>Онлайн поиск и бронирование туров</h1></div>
        <p>
            С помощью данного сервиса Вы можете:
        </p>
        <ol class="article">
            <li>Самостоятельно найти и рассчитать свой тур.</li>
            <li>Выбрать необходимое количество дней, отель, категорию номера, тип питания и другие важные для Вас характеристики.</li>
            <li>Ознакомиться с отзывами и рейтингами отельной базы.</li>
            <li>Отслеживать стоимость тура в зависимости от дат и курса валют.</li>
            <li>Забронировать выбранный тур в режиме реального времени.</li>
        </ol>
        <div class="online">
            <script type="text/javascript" src="http://tourvisor.ru/module/ts_search_module.js" charset="utf-8"></script>
            <DIV align=center><DIV id="ts_search_form" align=center></DIV><DIV id="ts_search_result" align=center></DIV></DIV>
            <script type="text/javascript">
                TS_Init_Module({ theme: "blue", formtype: "normal", newpage: "0", pricetype: "1", city: "25", country: "4", showdetails: "1" });
            </script>
        </div>
        {#<div class="tv-search-form" tv-moduleid="101842"></div>#}
        {#<script type="text/javascript" src="http://tourvisor.ru/module/init.js"></script>#}
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}