{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Авиабилеты{% endblock %}

{% block body_content %}
    {% set menu_active = null %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="flights-page">
        <div class="header-separator"></div>
        <div class="heading">
            <h1>Подарочный сертификат</h1>
            <a href="javascript:void(0);"
               data-modal-caption="Приобрести подарочный сертификат"
               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по приобретению подарочного сертификата  в ближайшее время с 10 до 19 часов"
               data-modal-from="Страница Подарочный сертификат, кнопка Приобрести"
               class="callback show-modal">
                Приобрести
            </a>
        </div>
        <ul class="article ol">
            <li>
                Сертификат на путешествие &mdash; оригинальный подарок, который надолго запомнится получателем.
            </li>
            <li>
                Может быть оформлен на любую сумму.
            </li>
            <li>
                Получатель может доплатить любую сумму при непосредственном приобритении тура.
            </li>
            <li>
                Может быть оформлен на любой вид путешествия (проживание на турбазе, пакетный тур в другую страну, авиабилет, туры по РФ, санаторно-курортный отдых и др.).
            </li>
            <li>
                Получатель имеет возможность самостоятельно выбрать любое направление отдыха.
            </li>
            <li>
                Возможность оформления на конкретный вид путешествия (страна, база отдыха, санаторий и др.).
            </li>
            <li>
                При желании возможно размещение на сертификате логотипа организации – поздравителя.
            </li>
            <li>
                Неиспользованный остаток средств может быть использован в качестве депозита за следующий тур.
            </li>
            <li>
                Может быть оформлен для получателя как в печатном, так и электронном виде.
            </li>
            <li>
                Имеет неограниченный срок действия.
            </li>
        </ul>
        Тут изображение сертификата
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}