{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Ответы на вопросы{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href="{{ asset('/css/animate.css') }}">
    <script src="{{ asset('/js/jquery.viewportchecker.js') }}"></script>
{% endblock %}

{% block body_content %}
    {% set menu_active = null %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="faq-page">
        <div class="header-separator"></div>
        <div class="heading"><h1>Ответы на вопросы</h1></div>
        <table class="main">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="left">
                        <div class="links">
                            <a href="#1">Оформление загранпаспорта</a><br>
                            <a href="#2">Сроки действия загранпаспорта</a><br>
                            <a href="#3">Выгода Tax-Free</a><br>
                            <a href="#4">Опоздание на рейс</a><br>
                            <a href="#5">Не встретил гид</a><br>
                            <a href="#6">Замена отеля</a><br>
                            <a href="#7">Недовольство предоставленным номером</a><br>
                            <a href="#8">Утеря загранпаспорта</a><br>
                            <a href="#9">Судебные приставы</a><br>
                            <a href="#10">Страхование</a>
                        </div>
                    </td>
                    <td class="right">
                        <div class="article">
                            <p>
                                <a name="1"></a>
                                <strong>Оформление загранпаспорта</strong><br>
                                Предлагаем Вам простой пошаговый алгоритм оформления паспорта:<br>
                                &nbsp;&nbsp;1. Заполните заявление на оформление загранпаспорта на сайте
                                <a href="http://www.gosuslugi.ru" target="_blank">&laquo;Госуслуг&raquo;</a>:
                                ФИО, адрес по прописки, телефон, СНИЛС.<br>
                                &nbsp;&nbsp;2. Далее Вам необходимо подтвердить свою личность для доступа к полному набору услуг на сайте.
                                Вам нужно приехать в Удостоверяющий центр по адресу: г. Барнаул, ул. Г. Исакова, 166
                                (8:00&ndash;17:00, обед с 12:00 до 13:00, в пятницу &mdash; 8:00&ndash;17:00, обед с 12:00 до 13:00),
                                при себе иметь российский паспорт и СНИЛС.<br>
                                &nbsp;&nbsp;3. В Удостоверяющем центре Вам выдадут код, с помощью которого Вы сможете заполнить полную анкету на сайте
                                <a href="http://www.gosuslugi.ru" target="_blank">&laquo;Госуслуг&raquo;</a>.<br>
                                &nbsp;&nbsp;4. После корректного заполнения анкеты Вам придет информация на электронную почту
                                о месте и времени фотографирования и сдачи полного пакета документов,
                                а также прохождения процедуры дактилоскопии (снятие отпечатков пальцев).<br>
                                &nbsp;&nbsp;5. В назначенное время Вам нужно будет явиться по назначенному адресу и при себе обязательно иметь:<br>
                                &nbsp;&nbsp;&bull; Российский паспорт (оригинал и копия заполненных страниц, стр. 19 обязательно).<br>
                                &nbsp;&nbsp;&bull; Квитанция об уплате государственной пошлины (взрослый &mdash; 3500 руб,
                                ребенок до 14 лет &mdash; 1500 руб.). Вы можете ее распечатать с сайта
                                <a href="http://www.gosuslugi.ru" target="_blank">&laquo;Госуслуг&raquo;</a>.<br>
                                &nbsp;&nbsp;&bull; Заграничный паспорт (оригинал).<br>
                                &nbsp;&nbsp;&bull; Для мужчин в возрасте от 18 до 27 лет &mdash; справка из военкомата по форме 32, либо военный билет.<br>
                                &nbsp;&nbsp;&bull; Для детей &mdash; оригинал и копия свидетельства о рождении.<br>
                                &nbsp;&nbsp;&bull; Копию трудовой книжки.<br>
                                &nbsp;&nbsp;6. Официально установленный срок оформления загранпаспорта в настоящее время составляет один месяц со дня подачи заявления.<br>
                                &nbsp;&nbsp;7. После прохождения процедуры фотографирования Вам сообщают о дате готовности вашего загранпаспорта
                                и месте его получения, также эту информацию Вы можете отследить в личном кабинете на сайте <a href="http://www.gosuslugi.ru" target="_blank">www.gosuslugi.ru</a>.
                            </p>
                            <p>
                                <a name="2"></a>
                                <strong>Сроки действия загранпаспорта</strong><br>
                                Как быть, куда ехать, если срок действия подходит к концу, и остались считанные месяцы?
                                Необходимо узнать сроки действия загранпаспорта для въезда в разные страны и выбрать подходящий пункт назначения.
                                Для Вашего удобства ниже приводятся требования консульств стран.
                                Зная их, можно реально оценить свои возможности и окончательно определиться с направлением своего путешествия.<br>
                                <em>Загранпаспорт должен быть действителен в течение 1 месяца</em> со дня окончания поездки,
                                если вы направляетесь в: Доминикану, Кубу, Маврикий.<br>
                                <em>Загранпаспорт должен быть действителен в течение 3 месяцев</em> со дня окончания поездки,
                                если вы направляетесь в: Австрию, Бельгию, Болгарию, Грецию, Германию,  Данию, Египет, Исландию,
                                Италию, Испанию, Канаду, Кению, Кипр, Латвию, Литву, Мальдивы, Мальту,  Нидерланды, Новую Зеландию,
                                Норвегию, ОАЭ, Польшу, Португалию, Румынию, Словакию,  Тунис, Францию, Финляндию, Чехию, Швейцарию,
                                Швецию, Хорватию, Эстонию, ЮАР, Японию.<br>
                                <em>Загранпаспорт должен быть действителен в течение 4 месяцев</em> со дня окончания поездки,
                                если вы направляетесь в: Турцию.<br>
                                <em>Загранпаспорт должен быть действителен в течение 6 месяцев</em> со дня окончания поездки,
                                если вы направляетесь в: Австралию, Аргентину, Бразилию, Венгрию, Вьетнам, Израиль, Индию, Индонезию,
                                Иорданию, Ирландию, Камбоджу, Китай, Малайзию, Марокко, Мексику,  Оман, Перу, Сейшельские острова,
                                Сингапур, США,  Таиланд, Чили, Шри-Ланку, Филлипины,  Ямайку.
                            </p>
                            <div class="smile"></div>
                            <p>
                                <a name="3"></a>
                                <strong>Выгода Tax-Free</strong><br>
                                <em>Tax-Free (такс-фри)</em> &mdash; система возврата суммы налога на добавленную стоимость (НДС).
                                НДС возвращается на покупки, сделанные иностранными гражданами при обратном пересечении границы той страны, в которой они были приобретены.
                                Суммы возврата составляют от 7 до 20% от суммы покупки, в зависимости от величины НДС в данной стране.
                                В ряде стран, чтобы получить право на возврат НДС, нужно купить в магазине товаров на определенную сумму.<br>
                                Для получения скидки за покупки, совершенные в магазинах, предлагающих возмещении Tax-Free, <em>Вам необходимо</em>:<br>
                                &nbsp;&nbsp;&bull; получить от продавца Tax-Free Cheque (чек такс-фри), для оформления которого потребуется Ваш паспорт.
                                Где именно можно получить Tax-Free Cheque, можно узнать в любой кассе магазина.
                                В чеке указываются все купленные товары и сумма, которая будет возвращена при выбытии из страны;<br>
                                &nbsp;&nbsp;&bull; попросите продавца вписать в Tax-Free Cheque вашу фамилию, точный адрес (город, улицу, номер дома), номер паспорта.
                                Отдельно купленные товары должны быть точно указаны либо в Tax-Free Cheque, либо в счете.
                                Если товары указаны в счете, то продавец должен прикрепить счет к Tax-Free Cheque (счет нельзя выбрасывать).<br>
                                Tax-Free Cheque следует выписывать в тот же день, что и счет.
                                Вывезти купленные товары из страны Вы должны не позднее чем через 3 месяца + месяц покупки.
                                Товары, по которым Вы планируете получить скидку, обязательно должны быть неиспользованными, с ненарушенной упаковкой.<br>
                                <em>Получить деньги можно несколькими способами</em>:<br>
                                &nbsp;&nbsp;&bull; В аэропорту при вылете в пункте Tax-Free cash Refund, предъявив Tax-Free Cheque с отметкой, чек и паспорт.
                                Пункты возврата наличных денег (Tax-Free cash Refund) обычно находятся рядом с магазинами Duty Free.<br>
                                &nbsp;&nbsp;&bull; Запечатать документы в конверт Tax-Free и опустить его в специальный ящик Tax-Free.
                                В этом случае деньги поступят на кредитную карту, номер которой указан в документах.<br>
                                &nbsp;&nbsp;&bull; Получить деньги в выбранном Вами уполномоченном банке России.
                                Для этого необходимо после возвращения в Россию обратиться в этот банк с документами: паспорт РФ, загранпаспорт,
                                Tax-Free Cheque и копия, квитанция/товарный чек из магазина.
                                Размер комиссии около 2,5<span class="glyphicon glyphicon-euro" aria-hidden="true"></span> за один чек.
                            </p>
                            <p>
                                <a name="4"></a>
                                <strong>Опоздание на рейс</strong><br>
                                В ж/д билетах время всегда указывается московское, в авиабилетах &mdash; время аэропорта вылета и прилета.<br>
                                <em>Вы опоздали по собственной вине</em> (плохие дороги, погодные условия, пробки, проспали и т.д.).
                                Надо помнить, что в практике авиасообщения заведено время начала регистрации (на международные рейсы &mdash; за 2,5-3 часа,
                                на внутренние рейсы &mdash; за 2 часа до вылета) и время окончания регистрации (на международные рейсы за 1 час, на внутренние &mdash; за 40 минут).
                                Если вы приезжаете после окончания регистрации вас вправе не пустить на борт, т.к. вы не успеваете пройти личный досмотр должным образом.
                                Если вас все же не пустили на регистрацию, срочно ищете представительство авиакомпании и туроператора в здании аэропорта,
                                но если там вам не смогут помочь выхода у вас два: или приобретать дополнительно авиабилеты на ваше направление за свой счет и, так сказать,
                                догонять ваш тур, или не лететь вовсе, но в этом случае потраченных на тур денег вам никто не вернет.<br>
                                <em>Вы летите на стыковочных рейсах и стыковка не удается</em>.
                                Например, вы запланировали перелет Барнаул&ndash;Москва&ndash;Париж, но регулярный рейс Барнаул&ndash;Москва задержали
                                (погодные условия, технические причины и т.д.), и Вы по причине задержки не успеваете на чартерный рейс Москва&ndash;Париж.
                                В аэропорту вылета (Барнауле) в справочном бюро поставьте на билетах штамп о задержке и о фактическом времени вылета,
                                в стыковочном аэропорту (Москва) в справочной службе так же на билеты проставить время прилета в этот аэропорт.
                                Напишите заявление, в котором отобразите все факты, причина задержки, во сколько вылетели, во сколько сели, как опоздали на стыковку,
                                в нем же просите решить вопросы с вашей доставкой до окончательного места назначения за счет авиакомпании.
                                Далее следует обратиться к представителю авиакомпании &mdash; виновника задержки, предъявить билеты на рейс на который вы уже опоздали и заявление.
                                Если представитель отказывается вам помогать, то мы советуем приобрести дополнительно билеты за свой счет на то направление,
                                куда опоздали, и продолжить отдых, а по возвращению подавайте в суд на авиакомпанию &mdash; виновника задержки и предъявляйте им понесенные убытки.
                                Как правило, в этих случаях закон на стороне потребителя.
                            </p>
                            <p>
                                <a name="5"></a>
                                <strong>Не встретил гид</strong><br>
                                На массовых направлениях в аэропортах существуют стойки принимающих сторон, и вам достаточно отыскать свою и предъявить свои ваучеры.
                                Название и официальный телефон принимающей стороны обязательно указывается в ваучере.
                                Название принимающей стороны может совпадать с именем туроператора, а может и не совпадать
                                (это зависит от того, собственная принимающая у туроператора или контрактная).<br>
                                <em>Что делать если вас никто не встречает</em>:<br>
                                &nbsp;&nbsp;&bull; еще раз убедитесь, что вы не прошли мимо нужной стойки или человека с табличкой где написаны ваши фамилии
                                или название принимающей стороны. В некоторых аэропортах стойки находятся на улице на выходе и здания,
                                если и там ничего знакомого нет, то подойдите к любой стойке и покажите свой ваучер,
                                поясните что не можете найти, другие гиды наверняка вам помогут;<br>
                                &nbsp;&nbsp;&bull; с просьбой о помощи можно обратиться к сотруднику аэропорта;<br>
                                &nbsp;&nbsp;&bull; очень часто гид находиться в аэропорту и просто вы разминулись.
                                Крайне редко за туристами совсем никто не приезжает.
                                Если все же так произошло, позвоните по контактному телефону принимающей стороны, который указан в вашем ваучере;<br>
                                &nbsp;&nbsp;&bull; если вы убедились, что вас никто не ждет, с принимающей стороной связаться не получается,
                                берите такси из аэропорта до вашего отеля (его название есть в ваучере),
                                как правило, работники такси знают отельную базу курортов.
                                Лучше, если у вас останется какой либо документ о стоимости проезда.
                                По заезду в отель лучше связаться со своим  менеджером в турагентстве, а с принимающей стороны следует впоследствии потребовать компенсации за проезд.
                            </p>
                            <p>
                                <a name="6"></a>
                                <strong>Замена отеля</strong><br>
                                При покупке тура вы остановились на конкретном отеле, но по приезду в страну вам объявляют, что отель заменяют.
                                Это не такая уж и страшная ситуация, если учесть, что добросовестные туроператоры заменяют отель на равнозначный по звездности
                                и условиям или лучший. Вам необходимо выяснить: на какой отель замена, замена на все время отдыха или на несколько дней.
                                В большинстве случаев туроператоры действительно заменяют отель на лучший, т.к. не хотят терять клиентов и своих агентств-партнеров,
                                но чтобы понять действительно предлагаемый вам отель не хуже выбранного, вы, не зная отельной базы, должны обязательно позвонить своему менеджеру.
                                Если же, по вашему мнению, или мнению вашего менеджера, предлагаемый отель хуже, тогда ни за что не соглашайтесь на замену.
                                Помните, вас никто не может обязать переселяться! Если перспектива ночевать на ресепшн отеля реальна, сделайте следующее:<br>
                                &nbsp;&nbsp;&bull; узнайте причину замены;<br>
                                &nbsp;&nbsp;&bull; подпишите у принимающей стороны претензию о замене отеля (это надо сделать обязательно!!!).
                                Претензия пишется в свободной форме;<br>
                                &nbsp;&nbsp;&bull; организуйте встречу с менеджером принимающей стороны, уполномоченным решать эти проблемы;<br>
                                &nbsp;&nbsp;&bull; переселитесь в предлагаемый отель и обдумайте варианты компенсации
                                (как правило, это возврат части суммы  или бесплатные экскурсии).
                            </p>
                            <p>
                                <a name="7"></a>
                                <strong>Недовольство предоставленным номером</strong><br>
                                Часто бывает, что при заселении в номер вы испытываете разочарование.
                                Для начала, сформулируйте, что конкретно вас не устраивает &mdash; что-то не работает;
                                вам не нравится вид из окна; номер не новый или вы думаете, что вас вообще заселили не в ту категорию.
                                Если вы приобретали номер с видом на море, а этот вид на самом деле оказывается сильно боковой или море лишь проглядывает из-за ветвей деревьев,
                                то это все равно считается видом на море. Если вы в каталоге наблюдали новый номер этой же категории,
                                а ваш номер нельзя назвать свежеотремонтированным, то возможно отель с момента изготовления данной фотографии уже порядком износился.
                                Можно посмотреть на номера соседей, если они такого же качества, то вариант у вас один &mdash; доплатить за более дорогую категорию.
                                Если в номере что-либо не работает (ТВ, кондиционер, сантехника, холодильник), позвоните на ресепшн и попросите устранить недостатки
                                или переселить вас без каких-либо доплат в исправный номер &mdash; это ваше полное право.
                                Если же вас не устраивает все, то вы можете выбрать несколько вариантов:<br>
                                &nbsp;&nbsp;&bull; просить носильщика заменить вам номер, отблагодарив его при этом валютой.
                                В этом случае надо помнить, что он может принять это просто за щедрые чаевые, может предложить вам точно такой же номер,
                                но денег уже не вернет, а может у него вовсе нет полномочий менять вам номер (мы бы не советовали этот способ);<br>
                                &nbsp;&nbsp;&bull; обратиться на ресепшн, пояснить суть ваших недовольств и просить заменить вам номер.
                                Если отель заполнен, вам могут отказать в переселении, тогда прибегайте к помощи гида.
                                Если в отеле есть свободные номера подобной категории, вам скорее всего, их предложат;<br>
                                &nbsp;&nbsp;&bull; сразу на ресепшен при заселении некоторые кладут несколько долларов в паспорт.
                                Вроде, чтобы номер сразу получше предложили. Мы бы не советовали и этот способ тоже. Сначала заселитесь, может вас и без денег все устроит.<br>
                                &nbsp;&nbsp;&bull; если же вас не устраивает номер, есть конкретные недостатки, а вас не переселяют или переселяют в такие же по качеству номера,
                                у вас всегда есть право задокументировать недостатки номера, подписать вашу претензию у сотрудников отеля или гида,
                                и обратиться в принимающую сторону за помощью или по возвращению к туроператору за адекватной компенсацией некачественной услуги.
                            </p>
                            <p>
                                <a name="8"></a>
                                <strong>Утеря загранпаспорта</strong><br>
                                Туристы теряют паспорт может и не каждый день, но все же довольно часто.<br>
                                Позвоните своему гиду и объясните ситуацию.<br>
                                Для возвращения на Родину без паспорта вам необходимо получить Свидетельство на въезд (возвращение).
                                Для этого в местной полиции надо написать заявление об утере или краже паспорта, получить об этом справку,
                                и с ней и двумя фотографиями появиться в консульстве РФ.<br>
                                В консульстве вас попросят написать заявление на выдачу свидетельства и подтвердить вашу личность.
                                Для этого подойдет водительское удостоверение, копии загранпаспорта, российского паспорта, вам смогут помочь ваши попутчики или руководитель группы.
                                Свидетельство выдается на срок, необходимый для выезда, но не более 15 дней.<br>
                                Важно, вернувшись в РФ, в течение 3 дней сдать свидетельство в Миграционную службу.<br>
                                <em>Полезный совет</em>: выезжая зарубеж, старайтесь иметь при себе 2 цветные фотографии и ксерокопии российского и зарубежного паспортов и той страницы,
                                где проставлена виза &mdash; это может сильно облегчить ваше положение.
                            </p>
                            <p>
                                <a name="9"></a>
                                <strong>Судебные приставы</strong><br>
                                Чтобы избежать неприятных ситуаций на границе, чтобы отдых не был сорван, и деньги не были потрачены зря, надо знать следующее:<br>
                                &nbsp;&nbsp;1. Ограничение на выезд за границу может быть наложено на должника, не исполнившего в установленный срок,
                                без уважительных причин, требований содержащихся в решении суда.<br>
                                &nbsp;&nbsp;2. Снято ограничение может быть в случае исполнения решений суда в полном объеме.<br>
                                &nbsp;&nbsp;3. Закон не определяет суммы задолженности ведущей к запрету выезда за границу,
                                поэтому выезд может быть запрещен с суммы от 2 тыс. рублей для обычных долгов, для алиментных долгов выезд
                                может быть запрещен и при меньшей сумме долга.<br>
                                К сожалению, бывали случаи задержки на границе должников даже с долгами около 1000 рублей.<br>
                                Обязательно заранее перед поездкой проверьте, нет ли у вас долгов перед судебными приставами.
                                Необходимо помнить, что уплата долга займет некоторое время, и желательно начать делать проверку долгов
                                не менее чем за две недели до предполагаемой поездки.<br>
                                Проверить нет ли у вас задолженностей очень просто.
                                Просто позвоните в отдел Судебных приставов по месту своей прописки,
                                достаточно будет только назвать свое ФИО и поинтересоваться есть ли у Вас задолженность.<br>
                                &nbsp;&nbsp;&bull; <em>Отдел судебных приставов Октябрьского района г. Барнаула</em> (адрес: г. Барнаул, ул. Профинтерна, 50, телефон: 61-02-74, 61-01-17).<br>
                                &nbsp;&nbsp;&bull; <em>Отдел судебных приставов Ленинского района г. Барнаула</em> (адрес: г. Барнаул, ул. Пушкина, 17Б, телефон: 24-89-15, 63-64-49).<br>
                                &nbsp;&nbsp;&bull; <em>Отдел судебных приставов Центрального района г. Барнаула</em> (адрес: г. Барнаул, ул. Пушкина, 17Б, телефон: 24-84-89).<br>
                                &nbsp;&nbsp;&bull; <em>Отдел судебных приставов Железнодорожного района г. Барнаула</em> (адрес: г. Барнаул, ул. Пушкина, 17Б, телефон: 63-98-18).<br>
                                &nbsp;&nbsp;&bull; <em>Отдел судебных приставов Индустриального района г. Барнаула</em> (адрес: г. Барнаул, пр. Космонавтов, 45, телефон: 34-08-48).<br>
                                &nbsp;&nbsp;&bull; <em>Отдел судебных приставов г. Новоалтайска</em> (адрес: г. Новоалтайск, ул. Октябрьская, 35а, телефон: (38532) 4-69-96).<br>
                                &nbsp;&nbsp;&bull; <em>Управления ФССП России по Алтайскому краю</em> &mdash; 24-84-98, 66-66-42.
                            </p>
                            <div class="plane"></div>
                            <p>
                                <a name="10"></a>
                                <strong>Страхование</strong><br>
                                Обычно медицинскую страховку туроператоры включают в стоимость тура.
                                Но предложенная ими страховка чаще всего предполагает минимальный набор услуг, необходимых в случае заболевания или травмы,
                                а именно: оплату расходов на лечение, услуги по медицинской транспортировке, репатриацию в случае смерти.<br>
                                Помимо обычной медицинской страховки туристы также могут застраховать свою гражданскую ответственность,
                                багаж, а также застраховаться от невозможности совершить поездку.<br>
                                <em>Страхование гражданской ответственности</em>. В данном случае страховой случай наступает, если на территории другого государства
                                (попадающего на территорию действия договора страхования) путешественник оказался вовлеченным в судебное разбирательство
                                по причине нанесения третьей стороне имущественного вреда или вреда жизни и здоровью,
                                вследствие чего по решению суда наступает гражданская ответственность.<br>
                                <em>Страхование багажа</em>. В данном случае речь идет о страховании багажа в случае его пропажи, кражи или повреждения.
                                Однако здесь существуют своего рода нюансы, и страхование не распространяется на ряд вещей, присутствующих в багаже.
                                Среди них: деньги, драгоценности, антиквариат и другие. К страховым случаям также не относится потеря имущества по причине невнимательности.<br>
                                <em>Страхование отмены тура</em>. Договор страхования, предусматривающий вероятность срочной отмены тура, следует заключать
                                не менее чем за 15 дней до запланированной даты отъезда. Однако в этом случае не будет являться страховым случаем
                                невозможность выезда в случае отказа в выдаче въездной визы.<br>
                                <em>Страхование от невыезда</em>. Заключается в выплате страховой суммы туристу в случае его невозможности отправиться
                                в поездку из-за отказа в выдачи ему визы или же другого какого-либо непредвиденного обстоятельства.<br>
                                <em>Однако страховыми случаями не признаются</em>:<br>
                                &nbsp;&nbsp;&bull; заболевания и травмы, полученные в результате совершения противоправных действий или в состоянии любого
                                (наркотического, алкогольного, токсического) опьянения;<br>
                                &nbsp;&nbsp;&bull; обострения хронических, психических заболеваний, попытки самоубийства;<br>
                                &nbsp;&nbsp;&bull; вся стоматологическая помощь за исключением экстренной помощи;<br>
                                &nbsp;&nbsp;&bull; косметические и пластические хирургические операции;<br>
                                &nbsp;&nbsp;&bull; расходы на лечение в санаториях.<br>
                                При наступлении страхового случая необходимо уведомить оператора страховой компании по указанному в полисе телефону.
                                Он может вызывать врачей или посоветовать медучреждение.
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}

{% block body_additions %}
    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(this).scrollTop() >= 227) {
                    $('#faq-page .main .left .links').css({'margin-top': $(this).scrollTop() - 220});
                }
                else {
                    $('#faq-page .main .left .links').css({'margin-top': 0});
                }
            });
            $('#faq-page .main .right .article p').viewportChecker({
                classToAdd: 'unknown',
                offset: 600,
                repeat: true,
                callbackFunction: function(elem, index) {
                    var href = elem.find('a[name]').attr('name');
                    $('#faq-page .main .left .links a').removeClass('active');
                    $('#faq-page .main .left .links a[href="#' + href + '"]').addClass('active');
                }
            });
            $('#faq-page .main .left .links a').click(function() {
                var href = $(this).attr('href').substring(1);
                $('body, html').animate({scrollTop: $('#faq-page .main .right a[name="' + href + '"]').offset().top - 200}, 500);
//                $(this).addClass('active').siblings().removeClass('active');
                e.stopPropagation();
                e.preventDefault();

                return true;
            });
        });
    </script>
{% endblock %}