{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Авиабилеты{% endblock %}

{% block body_content %}
    {% set menu_active = 'flights' %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="flights-page">
        <div class="header-separator"></div>
        <div class="heading">
            <h1>Подбор авиабилета</h1>
            <a href="javascript:void(0);"
               data-modal-caption="Заказать расчёт авиабилета"
               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по оформлению авиабилета  в ближайшее время с 10 до 19 часов"
               data-modal-from="Страница Авиабилеты, заказ расчёта"
               class="callback show-modal">
                Заказать расчёт
            </a>
        </div>
        <ul class="article">
            <li>
                <strong>Выгодная цена</strong><br>
                Мы не делаем дополнительных &laquo;накруток&raquo;, &laquo;сервисных сборов&raquo;,
                &laquo;агентских комиссий&raquo;, и Вы не переплачиваете лишние деньги за свой авиабилет.
            </li>
            <li>
                <strong>Экономия времени</strong><br>
                Вам понадобится не больше 10 минут,
                чтобы получить Ваш авиабилет на руки или электронную почту.
                <div class="sun"></div>
            </li>
            <li>
                <strong>Лучшие варианты по времени и стоимости</strong><br>
                Современные системы бронирования,
                которыми мы пользуемся, позволяют оперативно находить для Вас самые удобные варианты.
            </li>
            <li>
                <strong>Дистанционная покупка билетов</strong><br>
                Вы легко можете по телефону или электронной почте сообщить нам
                данные для бронирования и также получить маршрутную квитанцию на электронную почту,
                при этом оплата осуществляется также дистанционно с помощью банковской карты.
            </li>
            <li>
                <strong>Бесплатная аннуляция в течение дня</strong><br>
                Если Ваши планы внезапно меняются &mdash;
                Вы легко можете аннулировать по телефону Ваш авиабилет в течение данного рабочего дня.
            </li>
            <li>
                <strong>Все отчетные документы</strong><br>
                Вы получаете все необходимые финансовые документы при приобретении билетов.
                С нашей стороны &mdash; никаких &laquo;серых схем&raquo;.
            </li>
            <li>
                <strong>Минимум персональных данных</strong><br>
                Вы не предоставляете какие-либо документы &mdash; для получения авиабилета Вы нам сообщаете только
                Ваши имя и фамилию, дату рождения, серию и номер паспорта.
            </li>
            <li>
                <strong>Гостеприимство</strong><br>
                Если Вам будет удобно приехать за Вашим авиабилетом к нам в офис, то мы, пока система бронирования будет выписывать билет,
                подробно проконсультируем Вас относительно условий и правил перелета, а также предложим различные сорта чая и кофе.
                <div class="plane"></div>
            </li>
            <li>
                <strong>Надежность и профессионализм</strong><br>
                Вы можете быть уверены в нашей надежности и профессионализме: наши сотрудники и партнеры &mdash;
                опытные специалисты, владеющие не только теорией, но и широкой практикой путешествий.
                Мы постоянно обучаемся новейшим профессиональным программам и следим за современными трендами обслуживания клиентов.
            </li>
            <li>
                <strong>Мы понимаем, что настоящий эталонный сервис &mdash; это искренняя забота о своих покупателях, и всегда следуем этому убеждению.</strong>
            </li>
        </ul>
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}