{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Программа лояльности{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href="{{ asset('/css/loyalty.css') }}">
{% endblock %}

{% block body_content %}
    <div class="me-header-separator"></div>
{% endblock %}