{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Визы{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href="{{ asset('/css/visa.css') }}">
{% endblock %}

{% block body_content %}
    <div class="me-header-separator"></div>
{% endblock %}