{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Визы{% endblock %}

{% block body_content %}
    {% set menu_active = 'visa' %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="visa-page">
        <div class="header-separator"></div>
        <div class="heading">
            <h1>Оформление визы</h1>
            <div>
                <a href="javascript:void(0);"
                   data-modal-caption="Заказать расчёт визы"
                   data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по оформлению визы в ближайшее время с 10 до 19 часов"
                   data-modal-from="Страница Визы, заказ расчёта"
                   class="callback show-modal">
                    Заказать расчёт
                </a><br>
                <a href="{{ url('site_general_files_price') }}" class="files">Прайс-лист</a> 63 КБ, DOC<br>
                <a href="{{ url('site_general_files_docs') }}" class="files">Основные документы</a> 40 КБ, DOC
            </div>
        </div>
        <div class="article">
            <p>
                <strong>Экономия времени и денег</strong><br>
                Мы стараемся избежать лишних посредников, во многих случаях у нас имеется техническая возможность
                подачи документов в консульский отдел посольства. В некоторых случаях, когда подача документов напрямую невозможна
                или ограничена, мы оформляем визы, представляя ваши интересы в специализированных сервисно-визовых центрах,
                имеющих посольскую аккредитацию.
            </p>
            <p>
                <strong>Минимальные сроки рассмотрения документов</strong><br>
                Пересылка документов между визовыми центрами производится ежедневно авиапочтой всего за несколько часов.
                Это дает возможность оформления срочных виз в Барнауле &mdash; начиная от 1 рабочего дня.
            </p>
            <div class="star"></div>
            <p>
                <strong>Мультивизы &mdash; по цене обычных виз</strong><br>
                Мы знаем, что для жителей Алтайского края больше всего востребованы именно многократные визы, поэтому
                мы не берём какой-либо наценки за их оформление. По статистике именно мультивизы составляют большинство виз.
            </p>
            <p>
                <strong>Отсутствие дополнительных сборов</strong><br>
                Стоимость оформления виз &mdash; от 3500 рублей. В эту сумму всегда входит консульский сбор.
                Мы не берём денег ни за дополнительную подготовку документов, ни за пересылку их в Москву и назад.
            </p>
            <p>
                <strong>Возможен полный возврат средств</strong><br>
                Если паспорт не будет подан в посольство (консульство) по каким-либо причинам, например, у вас изменятся обстоятельства,
                касающиеся поездки, то мы вернём Вам деньги, уплаченные нам, в полном объёме.
            </p>
            <p>
                <strong>Не нужно никуда ехать</strong><br>
                Для получения готовой визы не требуется ехать ни в Новосибирск, ни в Москву &mdash; паспорт доставят в наш офис в Барнауле,
                где Вы его сможете забрать в удобное для Вас время.
            </p>
            <div class="smile"></div>
            <p>
                <strong>Выгодная страховка</strong><br>
                Оформление страхового полиса необходимо для получения виз во многие страны мира.
                Важно всегда выбрать проверенную страховую компанию, предоставляющую необходимый пакет услуг, и Вы имеете возможность
                оформить оптимальную страховку для себя по минимальной цене. Средняя страхования суток пребывания за границей &mdash;
                45 рублей.
            </p>
            <p>
                <strong>Спокойствие и уверенность</strong><br>
                Помимо страхования здоровья выезжающих за границу, мы можем страховать риск отмены поездки, связанный
                инога и с отказом в выдаче визы посольством. Это позволит Вам чувствовать себя спокойнее, пока ваше заявление
                будет рассматриваться.
            </p>
            <p>
                <strong>Профессиональный подход</strong><br>
                Вы можете быть уверены в нашей надежности и профессионализме: наши сотрудники и партнеры &mdash; опытные специалисты,
                владеющие не только теорией, но и широкой практикой путешествий. Мы постоянно обучаемся новейшим профессиональным программам
                и следим за современными трендами обслуживания клиентов.
            </p>
            <p>
                <strong>Мы понимаем, что настоящий эталонный сервис &mdash; это искренняя забота о своих покупателях, и всегда следуем этому убеждению.</strong>
            </p>
        </div>
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}