.me-header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

.me-heading {
    margin: 26px 0 0;
    position: relative;
}

.me-heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

.me-heading .me-callback {
    background: url('../img/contacts-callback.jpg') repeat-x;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 41px;
    padding-top: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    top: 17px;
    width: 189px;
}

.me-article {
    line-height: 25px;
    list-style-position: inside;
    margin: 10px 0 190px;
    padding: 0;
    width: 777px;
}

.me-article .me-sun {
    background: url('../img/flights-sun.png') left 6px no-repeat transparent;
    float: right;
    height: 78px;
    width: 184px;
}

.me-article .me-plane {
    background: url('../img/flights-plane.png') no-repeat transparent;
    float: right;
    height: 72px;
    margin-left: 24px;
    width: 155px;
}