html {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
}

body {
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 1.2;
}

a, a:active, a:hover, a:visited, a:focus {
    color: #0688ec;
    text-decoration: none;
}

.text-shadow {
    text-shadow: 1px 1px 1px #666;
}

.container {
    padding: 0;
    width: 1280px;
}

#header {
    height: 455px;
    position: relative;
}

#header.header1 {
    background: url('../img/landing1.jpg') center top no-repeat;
}

#header.header2 {
    background: url('../img/landing2.jpg') center top no-repeat;
}

#header.header3 {
    background: url('../img/landing3.jpg') center top no-repeat;
}

#header.header4 {
    background: url('../img/landing4.jpg') center top no-repeat;
}

#header.header5 {
    background: url('../img/landing5.jpg') center top no-repeat;
}

#header .logo {
    background: url('../img/logo1.png') left top no-repeat transparent;
    color: #fff;
    display: block;
    font-size: 13px;
    height: 80px;
    left: 30px;
    padding: 56px 0 0 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 30px;
    width: 265px;
}

#header .contacts {
    color: #fff;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 178px;
}

#header .contacts .phone {
    font-size: 23px;
}

#header .contacts .phone a {
    color: #fff;
}

#header .contacts .timetable {
    font-size: 12px;
    position: relative;
    top: 1px;
}

#header .contacts .order {
    font-size: 12px;
    position: relative;
    top: 9px;
}

#header .contacts .order a {
    border-bottom: 1px dashed #fff;
    color: #fff;
}

#header h1 {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 58px;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-weight: normal;
}

#header.header1 h1 {
    top: 72px;
    line-height: 61px !important;
}

#header.header2 h1 {
    top: 88px;
    line-height: 61px !important;
}

#header.header3 h1 {
    top: 55px;
}

#header.header4 h1 {
    top: 54px;
}

#header.header5 h1 {
    top: 85px;
}

#header h2 {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-weight: normal;
}

#header.header1 h2 {
    top: 204px;
}

#header.header2 h2 {
    top: 211px;
}

#header.header3 h2 {
    top: 145px;
}

#header.header4 h2 {
    top: 135px;
}

#header.header5 h2 {
    top: 165px;
}

#header h3 {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-weight: normal;
}

#header.header1 h3 {
    top: 245px;
}

#header.header2 h3 {
    top: 254px;
}

#header.header3 h3 {
    top: 218px;
}

#header.header4 h3 {
    top: 208px;
}

#header.header5 h3 {
    top: 234px;
}

#header .button {
    color: #fff;
    font-size: 19px;
    border-radius: 26px;
    display: inline-block;
    background: url('../img/landing-header-button.jpg') repeat-x;
    height: 52px;
    padding-top: 14px;
    position: absolute;
    width: 250px;
    left: 50%;
    margin-left: -125px;
    text-align: center;
}

#header.header1 .button {
    top: 354px;
}

#header.header2 .button {
    top: 360px;
}

#header.header3 .button {
    top: 339px;
}

#header.header4 .button {
    top: 331px;
}

#header.header5 .button {
    top: 323px;
}

.tours h2 {
    font-weight: normal;
    text-align: center;
    font-size: 38px;
    margin-top: 31px;
}

.subheader {
    text-align: center;
    font-size: 18px;
    margin-top: -1px;
    line-height: 1.3;
}

.properties h2 {
    font-weight: normal;
    text-align: center;
    font-size: 38px;
    margin-top: 31px;
}

.reviews h2 {
    font-weight: normal;
    text-align: center;
    font-size: 38px;
    margin-top: 31px;
}

.certificates h2 {
    font-weight: normal;
    text-align: center;
    font-size: 38px;
    margin-top: 31px;
}

#tours {
    margin: 54px 44px 0;
    padding: 0;
}

#tours li {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 183px;
    margin: 0 7px 12px;
    overflow: hidden;
    position: relative;
    text-shadow: 1px 1px 1px #666;
    width: 284px;
}

#tours .caption {
    font-size: 27px;
    position: absolute;
}

#tours .caption.left-top-first {
    left: 17px;
    top: 10px;
    width: 175px;
}

#tours .caption.left-top-second {
    left: 17px;
    top: 29px;
}

#tours .days {
    font-size: 17px;
    position: absolute;
}

#tours .days.left-top-second {
    /*left: 17px;*/
    /*top: 44px;*/
}

#tours .days.left-bottom {
    bottom: 11px;
    left: 17px;
}

#tours .city {
    background: url('../img/tour-airplaine.png') right center no-repeat transparent;
    display: inline-block;
    font-size: 15px;
    height: 17px;
    padding-right: 24px;
    position: absolute;
}

#tours .city.left-bottom {
    bottom: 14px;
    left: 17px;
}

#tours .city.left-top-first {
    left: 17px;
    top: 9px;
}

#tours .price {
    font-size: 21px;
    position: absolute;
}

#tours .price span.glyphicon {
    font-size: 15px;
}

#tours .price.right {
    right: 8px;
    top: 9px;
}

#tours a.button {
    background: url('../img/tour-button.jpg') repeat-x #31cbb3;
    border-radius: 3px;
    bottom: 9px;
    color: #fff;
    font-size: 14px;
    height: 31px;
    padding-top: 5px;
    position: absolute;
    right: 9px;
    width: 87px;
}

.properties {
    background: url('../img/landing-for-you.png') center bottom no-repeat;
    margin-top: -1px;
    height: 484px;
    position: relative;
}

.properties .block {
    font-size: 11px;
    position: absolute;
    line-height: 1.7;
}

.properties .block strong {
    font-size: 12px;
}

.properties .block1 {
    bottom: 284px;
    left: 192px;
}

.properties .block2 {
    left: 192px;
    top: 271px;
}

.properties .block3 {
    left: 192px;
    top: 405px;
}

.properties .block4 {
    right: 187px;
    top: 141px;
    text-align: right;
}

.properties .block5 {
    bottom: 160px;
    right: 187px;
    text-align: right;
}

.properties .block6 {
    right: 187px;
    top: 399px;
    text-align: right;
}

.reviews {
    background-color: #f3f3f3;
    margin-top: 69px;
    padding-top: 33px;
    height: 628px;
    position: relative;
}

.reviews ul {
    line-height: 1;
    margin: 0 auto 0;
    width: 960px;
}

.reviews ul li {
    height: 350px;
    width: 414px;
}

.reviews ul li.review-1 {
    margin-right: 128px;
}

.reviews li .text {
    background: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    font-style: italic;
    height: 243px;
    line-height: 24px;
    padding: 25px;
    width: 100%;
}

.reviews li .desc {
    padding-top: 33px;
    padding-left: 94px;
    position: relative;
}

.reviews li .desc .photo {
    background-position: center center;
    background-size: auto 100%;
    position: absolute;
    top: 22px;
    left: 14px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    overflow: hidden;
}

.reviews li .desc .name {
    font-weight: bold;
    font-size: 15px;
}

.reviews li .desc .to {
    font-size: 13px;
    margin-top: 11px;
}

.reviews .prev {
    background: url('../img/prev.png') left top transparent;
    cursor: pointer;
    height: 37px;
    left: 27px;
    position: absolute;
    top: 222px;
    width: 21px;
}

.reviews .next {
    background: url('../img/next.png') left top transparent;
    cursor: pointer;
    height: 37px;
    position: absolute;
    right: 27px;
    top: 222px;
    width: 21px;
}

.reviews .order {
    color: #fff;
    font-size: 19px;
    border-radius: 26px;
    display: inline-block;
    background: url('../img/landing-header-button.jpg') repeat-x;
    height: 52px;
    padding-top: 14px;
    position: absolute;
    width: 370px;
    left: 50%;
    margin-left: -185px;
    text-align: center;
    bottom: 54px;
}

.certificates {
    height: 432px;
    position: relative;
    text-align: center;
}

.certificates ul {
    margin: 75px auto 0;
    width: 1070px;
}

.certificates ul li {
    height: 300px;
    margin: 0 10px 0;
    overflow: hidden;
    width: 190px;
}

.certificates ul li img {
    border: 0;
    height: 163px;
    margin-bottom: 10px;
    max-width: 190px;
}

.certificates .prev {
    background: url('../img/prev.png') left top transparent;
    cursor: pointer;
    height: 37px;
    left: 27px;
    position: absolute;
    top: 198px;
    width: 21px;
}

.certificates .next {
    background: url('../img/next.png') left top transparent;
    cursor: pointer;
    height: 37px;
    position: absolute;
    right: 27px;
    top: 198px;
    width: 21px;
}

#footer {
    height: 341px;
    margin-top: -20px;
    position: relative;
}

#footer.footer1 {
    background: url('../img/landing-footer1.jpg') center top no-repeat;
}

#footer.footer2 {
    background: url('../img/landing-footer2.jpg') center top no-repeat;
}

#footer.footer3 {
    background: url('../img/landing-footer3.jpg') center top no-repeat;
}

#footer.footer4 {
    background: url('../img/landing-footer4.jpg') center top no-repeat;
}

#footer.footer5 {
    background: url('../img/landing-footer5.jpg') center top no-repeat;
}

#footer h2 {
    font-weight: normal;
    text-align: center;
    font-size: 38px;
    padding-top: 31px;
    color: #fff;
}

#footer .subheader {
    color: #fff;
}

#footer .get-present {
    color: #fff;
    width: 220px;
    height: 59px;
    background: url('../img/landing-get-present.png') no-repeat;
    position: absolute;
    left: 50%;
    top: 167px;
    text-align: center;
    padding-top: 19px;
    font-size: 16px;
    margin-left: -110px;
    font-weight: bold;
}

#footer .contacts {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 33px;
    font-size: 12px;
}

#footer .contacts a {
    color: #fff;
    text-decoration: underline;
}

#footer .privacy {
    display: block;
    bottom: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 13px;
    text-decoration: underline;
}

#fade {
    background: url('../img/fade-bg.png');
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#modal-form {
    background: #fff;
    border: 3px solid #0bba8b;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px #666;
    display: none;
    height: 437px;
    left: 50%;
    margin-left: -264px;
    margin-top: -218px;
    padding: 40px;
    position: fixed;
    top: 50%;
    width: 528px;
    z-index: 10100;
}

#modal-form .caption {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}

#modal-form .subcaption {
    font-size: 15px;
}

#modal-form form {
    margin-top: 28px;
    width: 100%;
}

#modal-form form fieldset {
    height: 68px;
    position: relative;
    width: 100%;
}

#modal-form form fieldset label {
    font-weight: normal;
    width: 128px;
}

#modal-form form fieldset input {
    border: 1px #e8e8e8;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px 1px #999;
    font-size: 14px;
    height: 30px;
    left: 128px;
    padding: 7px;
    position: absolute;
    top: -2px;
    width: 315px;
}

#modal-form form button {
    background: url('../img/form-button.jpg') left top repeat-x;
    border: 0;
    border-radius: 22px;
    color: #fff;
    font-size: 16px;
    height: 44px;
    margin-left: 128px;
    padding: 0 35px;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
}

#modal-form .close {
    color: #666;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#modal-form .close:hover {
    color: #f68400;
}

#modal-certificate {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px #666;
    display: none;
    height: 700px;
    left: 50%;
    margin-left: -275px;
    margin-top: -350px;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 550px;
    z-index: 10100;
}

#modal-certificate .close {
    color: #666;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

#modal-certificate img {
    max-height: 660px;
    max-width: 510px;
}

.img-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
}