html {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
}

body {
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    height: 100%;
    line-height: 1.2;
    position: relative;
}

a, a:active, a:hover, a:visited, a:focus {
    color: #0688ec;
    text-decoration: none;
}

.text-shadow {
    text-shadow: 1px 1px 1px #666;
}

.container {
    padding: 0;
    width: 1000px;
}

#header {
    height: 98px;
    position: relative;
}

#header .logo {
    background: url('../img/logo.png') left top no-repeat transparent;
    color: #000;
    display: block;
    font-size: 12px;
    height: 80px;
    left: 0;
    padding: 56px 0 0 8px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 17px;
    width: 281px;
}

#menu {
    font-size: 14px;
    left: 50%;
    margin-left: -200px;
    padding: 24px 0 0;
    position: absolute;
    top: 0;
    width: 460px;
}

#menu li {
    border: 2px solid transparent;
    border-radius: 3px;
    display: inline-block;
    height: 36px;
    padding: 8px 8px 0;
    position: relative;
}

#menu a {
    border-bottom: 1px solid #0688ec;
}

#menu li.active {
    border-color: #0e7f60;
    padding: 8px 16px 0;
}

#menu li.active a {
    border: none;
    color: #000;
}

#menu div.active {
    border: 2px solid #0bba8b;
    border-radius: 3px;
    bottom: -1px;
    left: -3px;
    position: absolute;
    right: -1px;
    top: -3px;
}

#header .contacts {
    padding: 12px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 178px;
}

#header .contacts .phone {
    font-size: 23px;
}

#header .contacts .phone a {
    color: #000;
}

#header .contacts .timetable {
    font-size: 12px;
    position: relative;
    top: 1px;
}

#header .contacts .order {
    font-size: 12px;
    position: relative;
    top: 9px;
}

#header .contacts .order a {
    border-bottom: 1px dashed #0688ec;
}

#slider {
    height: 389px;
}

#slider .item img {
    border-radius: 6px;
    overflow: hidden;
}

#slider .carousel-control {
    background: none;
}

#slider .carousel-control .icon-prev {
    background: url('../img/slider-control-left.png') left top no-repeat;
    height: 42px;
    left: 28px;
    margin: -24px 0 0;
    width: 24px;
}

#slider .carousel-control .icon-prev:before {
    content: '';
}

#slider .carousel-control .icon-next {
    background: url('../img/slider-control-right.png') no-repeat;
    height: 42px;
    right: 28px;
    margin: -24px 0 0;
    width: 24px;
}

#slider .carousel-control .icon-next:before {
    content: '';
}

#slider .carousel-indicators {
    bottom: 13px;
    margin-bottom: 0;
}

#slider .carousel-indicators li {
    background: #fff;
    border-radius: 50%;
    height: 7px;
    margin: 0 5px 0 0;
    opacity: 0.5;
    width: 7px;
}

#slider .carousel-indicators li:last-child {
    margin: 0;
}

#slider .carousel-indicators li.active {
    opacity: 1;
}

#slider .carousel-inner .content {
    padding: 0 80px 0;
    position: absolute;
    text-align: center;
    top: 104px;
    width: 100%;
    z-index: 4;
}

#slider .carousel-inner .caption {
    color: #fff;
    font-size: 44px;
    text-shadow: 1px 1px 1px #666;
}

#slider .carousel-inner .details {
    background: #0bb789;
    border-radius: 29px;
    display: inline-block;
    height: 58px;
    margin-top: 20px;
    padding: 4px 4px 0;
}

#slider .carousel-inner .details a {
    background: url('../img/slider-details-button.jpg') repeat-x #ededed;
    border-radius: 24px;
    box-shadow: 0 1px 1px 1px #666;
    color: #000;
    display: inline-block;
    font-size: 21px;
    height: 49px;
    padding: 10px 26px 0;
    text-decoration: none;
    top: 4px;
}

#index-page .heading {
    margin: 39px 0 0;
    position: relative;
}

#index-page .heading h1 {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    margin: 0 7px 0;
    padding: 0;
}

#index-page .filter-type {
    position: absolute;
    right: 7px;
    top: 7px;
}

#index-page .filter-type li {
    background: url('../img/filter-type-button.jpg') repeat-x #f8f8f8;
    border: 1px solid #ddd;
    border-right: none;
    height: 34px;
    padding: 9px 12px 0;
}

#index-page .filter-type li.active {
    background: url('../img/filter-type-button-active.jpg') repeat-x #f8f8f8;
}

#index-page .filter-type a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

#index-page .filter-type li:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#index-page .filter-type li:last-child {
    border-bottom-right-radius: 4px;
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
}

#index-page .filter-location {
    margin: 12px 7px 0;
}

#index-page .filter-location li {
    border: 1px solid transparent;
    height: 30px;
    padding: 6px 10px 0;
    margin-right: 5px;
}

#index-page .filter-location li.active {
    background: url('../img/filter-location-button-active.jpg') repeat-x #aeafb4;
    border-color: #a3a3a3;
    border-radius: 4px;
}

#index-page .filter-location li a {
    border-bottom: 1px dashed #0688ec;
    font-size: 14px;
}

#index-page .filter-location li.active a {
    border: none;
    color: #fff;
}

#index-page .tours {
    margin: 34px -4px 0 -4px;
    padding: 0;
}

#index-page .tours li {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 202px;
    margin: 0 11px 19px 11px;
    overflow: hidden;
    position: relative;
    text-shadow: 1px 1px 1px #666;
    width: 314px;
}

#index-page .tours .caption {
    font-size: 27px;
    position: absolute;
}

#index-page .tours .caption.left-top-first {
    left: 17px;
    top: 10px;
}

#index-page .tours .caption.left-top-second {
    left: 17px;
    top: 29px;
}

#index-page .tours .days {
    font-size: 17px;
    position: absolute;
}

#index-page .tours .days.left-top-second {
    left: 17px;
    top: 44px;
}

#index-page .tours .days.left-bottom {
    bottom: 11px;
    left: 17px;
}

#index-page .tours .city {
    background: url('../img/tour-airplaine.png') right center no-repeat transparent;
    display: inline-block;
    font-size: 15px;
    height: 17px;
    padding-right: 24px;
    position: absolute;
}

#index-page .tours .city.left-bottom {
    bottom: 14px;
    left: 17px;
}

#index-page .tours .city.left-top-first {
    left: 17px;
    top: 9px;
}

#index-page .tours .price {
    font-size: 21px;
    position: absolute;
}

#index-page .tours .price.right {
    right: 8px;
    top: 9px;
}

#index-page .tours a.button {
    background: url('../img/tour-button.jpg') repeat-x #31cbb3;
    border-radius: 3px;
    bottom: 9px;
    color: #fff;
    font-size: 14px;
    height: 31px;
    padding-top: 7px;
    position: absolute;
    right: 9px;
    width: 100px;
}

#index-page .shadow {
    background: url('../img/hr-shadow.png') no-repeat transparent;
    height: 27px;
    margin-top: 44px;
}

#index-page .sections {
    padding: 0 30px;
}

#index-page .sections li {
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
}

#index-page .sections li:nth-child(1) {
    width: 218px;
}

#index-page .sections li:nth-child(2) {
    width: 251px;
}

#index-page .sections li:nth-child(3) {
    width: 283px;
}

#index-page .sections li:nth-child(4) {
    padding: 0;
    width: 188px;
}

#index-page .sections h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 9px;
}

#index-page .sections a {
    border-bottom: 1px solid #0688ec;
}

#index-page .sections p {
    font-size: 13px;
    line-height: 1.4;
}

#index-page .order {
    background: url('../img/order-button.jpg') repeat-x #31cb9b;
    border-radius: 35px;
    display: inline-block;
    color: #fff;
    height: 71px;
    margin-top: 40px;
    padding: 10px 40px 0;
}

#index-page .order:active, .order:hover, .order:visited, .order:focus {
    color: #fff;
}

#index-page .order-tour {
    font-size: 27px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #666;
}

#index-page .order-by-phone {
    color: #00735e;
    font-size: 12px;
    margin-top: 2px;
}

#index-page .feedback {
    font-size: 14px;
    margin-top: 22px;
}

#index-page .feedback a {
    border-bottom: 1px solid #0688ec;
}

#index-page .share {
    margin-top: 31px;
}

#index-page .share li {
    border-radius: 4px;
    display: inline-block;
    height: 33px;
    margin-right: 26px;
    padding: 9px 20px 0 40px;
    position: relative;
    text-align: center;
}

#index-page .share li a {
    color: #fff;
    font-size: 14px;
}

#index-page .share li:last-child {
    margin-right: 0;
}

#index-page .share .icon {
    height: 33px;
    left: 0;
    position: absolute;
    top: 0;
    width: 34px;
}

#index-page .share .vk {
    background: #59789a;
}

#index-page .share .vk .icon {
    background: url('../img/share-vk.png') center center no-repeat transparent;
}

#index-page .share .fb {
    background: #375aa3;
}

#index-page .share .fb .icon {
    background: url('../img/share-fb.png') center center no-repeat transparent;
}

#index-page .share .ok {
    background: #ee7400;
}

#index-page .share .ok .icon {
    background: url('../img/share-ok.png') center center no-repeat transparent;
}

#index-page .share .instagram {
    background: #2a5b83;
}

#index-page .share .instagram .icon {
    background: url('../img/share-instagram.png') center center no-repeat transparent;
}

#footer {
    border-top: 1px solid #17b997;
    font-size: 12px;
    line-height: 1.6;
    margin-top: 45px;
    padding: 14px 3px 60px;
    position: relative;
}

#footer .about {
    width: 350px;
}

#footer .about a {
    border-bottom: 1px solid #0688ec;
}

#footer .contacts {
    position: absolute;
    right: 0;
    top: 14px;
    width: 274px;
}

#footer .contacts p {
    margin-bottom: 8px;
}

#footer .contacts .credit-cards {
    background: url('../img/credit-cards.jpg') no-repeat transparent;
    height: 20px;
    width: 76px;
}

#visa-page .header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

#visa-page .heading {
    margin: 26px 0 0;
    position: relative;
}

#visa-page .heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

#visa-page .heading div {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 17px;
    width: 230px;
}

#visa-page .heading div a.files {
    display: inline-block;
    margin: 8px 4px 0 17px;
    text-decoration: underline;
}

#visa-page .heading .callback {
    background: url('../img/contacts-callback.jpg') repeat-x;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 41px;
    padding-top: 7px;
    /*position: absolute;*/
    /*right: 0;*/
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    /*top: 17px;*/
    width: 230px;
}

#visa-page .article {
    line-height: 27px;
    width: 776px;
}

#visa-page .article p {
    margin-bottom: 27px;
}

#visa-page .article .star {
    background: url('../img/flights-star.png') left 10px no-repeat transparent;
    float: right;
    height: 90px;
    width: 151px;
}

#visa-page .article .smile {
    background: url('../img/flights-smile.png') left top no-repeat transparent;
    float: right;
    height: 90px;
    margin-top: 75px;
    width: 118px;
}

#flights-page .header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

#flights-page .heading {
    margin: 26px 0 0;
    position: relative;
}

#flights-page .heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

#flights-page .heading .callback {
    background: url('../img/contacts-callback.jpg') repeat-x;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 41px;
    padding-top: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    top: 17px;
    width: 189px;
}

#flights-page .article {
    line-height: 25px;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    width: 777px;
}

#flights-page .article.ol {
    list-style: inside decimal;
    margin-bottom: 90px;
}

#flights-page .article.ol li {
    margin-bottom: 0;
}

#flights-page .article li {
    margin-bottom: 16px;
}

#flights-page .article .sun {
    background: url('../img/flights-sun.png') left bottom no-repeat transparent;
    float: right;
    height: 90px;
    margin-left: 15px;
    width: 184px;
}

#flights-page .article .plane {
    background: url('../img/flights-plane.png') left bottom no-repeat transparent;
    float: right;
    height: 90px;
    margin-left: 24px;
    width: 155px;
}

#flights-page .article .star {
    background: url('../img/flights-star.png') left bottom no-repeat transparent;
    float: right;
    height: 90px;
    margin-left: 24px;
    width: 360px;
}

#flights-page .article .ship {
    background: url('../img/ship.png') left bottom no-repeat transparent;
    float: right;
    height: 90px;
    margin-left: 24px;
    width: 375px;
}

#contacts-page .header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

#contacts-page .heading {
    margin: 26px 0 0;
    position: relative;
}

#contacts-page .heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

#contacts-page .heading .callback {
    background: url('../img/contacts-callback.jpg') repeat-x;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 41px;
    padding-top: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    top: 17px;
    width: 197px;
}

#contacts-page .map {
    height: 350px;
    margin-top: 40px;
}

#contacts-page .about-company {
    margin: 34px 0 0;
    position: relative;
}

#contacts-page .about-company h2 {
    font-size: 29px;
    margin-bottom: 8px;
}

#contacts-page .about-company p {
    line-height: 24px;
    width: 738px;
    margin-bottom: 12px;
}

#contacts-page .timetable {
    position: absolute;
    right: 0;
    top: 14px;
    width: 197px;
}

#contacts-page .timetable h3 {
    font-size: 18px;
    margin-bottom: 7px;
}

#contacts-page .timetable .contacts-vk {
    background: url('../img/contacts-vk.jpg') no-repeat;
    display: inline-block;
    height: 24px;
    margin-right: 4px;
    width: 24px;
}

#contacts-page .timetable .contacts-fb {
    background: url('../img/contacts-fb.jpg') no-repeat;
    display: inline-block;
    height: 24px;
    margin-right: 4px;
    width: 24px;
}

#contacts-page .timetable .contacts-instagram {
    background: url('../img/contacts-instagram.jpg') no-repeat;
    display: inline-block;
    height: 24px;
    margin-right: 4px;
    width: 24px;
}

#contacts-page .timetable .contacts-ok {
    background: url('../img/contacts-ok.jpg') no-repeat;
    display: inline-block;
    height: 24px;
    margin-right: 4px;
    width: 24px;
}

#contacts-page .certs {
    margin-top: 41px;
}

#contacts-page .certs h2 {
    font-size: 29px;
    margin-bottom: 21px;
}

#contacts-page .certs ul {
    width: 840px;
}

#contacts-page .certs ul li {
    text-align: center;
    margin: 0 40px 20px 0;
    vertical-align: top;
    width: 165px;
}

#contacts-page .certs ul li a {
    display: block;
    text-align: center;
}

#contacts-page .certs ul li img {
    border: 0;
    height: 166px;
    margin-bottom: 15px;
    max-width: 170px;
}

#contacts-page .certs .more {
    background: url('../img/certs-more.png') no-repeat;
    color: #fff;
    display: inline-block;
    height: 24px;
    padding: 2px 0 0 11px;
    width: 122px;
}

#contacts-page .certs .more span {
    border-bottom: 1px dashed #fff;
}

#contacts-page .certs ul.certs2 {
    display: none;
}

#contacts-page .details h2 {
    font-size: 29px;
    margin-bottom: 11px;
}

#contacts-page .details td {
    line-height: 22px;
    vertical-align: top;
}

#contacts-page .details .details-left {
    width: 377px;
}

#contacts-page .photo {
    background: url('../img/contacts.png') left bottom no-repeat transparent;
    float: right;
    height: 253px;
    width: 540px;
    margin-left: 18px;
}

#booking-page .header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

#booking-page .heading {
    margin: 26px 0 0;
    position: relative;
}

#booking-page .heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

#booking-page .article {
    line-height: 25px;
    list-style-position: inside;
    margin: 10px 0 40px;
    padding: 0;
}

#booking-page .article p {
    margin-bottom: 27px;
}

#booking-page .online {
}

#reviews-page .header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

#reviews-page .heading {
    margin: 26px 0 20px;
    position: relative;
}

#reviews-page .heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

#reviews-page .reviews {
    border-collapse: collapse;
    width: 100%;
}

#reviews-page .reviews td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#reviews-page .reviews .image {
    width: 170px;
    padding-bottom: 10px;
}

#reviews-page .reviews .image img {
    width: 170px;
    border: 0;
}

#reviews-page .reviews .full {
    color: #7b7b7b;
    padding: 0 50px 28px 25px;
    font-size: 15px;
    line-height: 24px;
}

#reviews-page .reviews .full strong {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 7px;
}

#reviews-page .reviews .full p {
    color: #000;
    margin-top: 4px;
}

#reviews-page .reviews .short {
    font-size: 16px;
    width: 210px;
    padding-top: 20px;
}

#reviews-page .thanks {
    font-size: 29px;
    padding: 70px 0 0 195px;
}

#faq-page .header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

#faq-page .heading {
    margin: 26px 0 20px;
    position: relative;
}

#faq-page .heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

#faq-page .main {
    width: 100%;
}

#faq-page .main td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#faq-page .main .left {
    width: 273px;
    padding-right: 7px;
    position: relative;
}

#faq-page .main .left a {
    border-left: 5px solid #fff;
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-left: -10px;
    margin-top: 10px;
    padding-left: 8px;
}

#faq-page .main .left a.active {
    border-left: 5px solid #0BB789;
}

#faq-page .main .right {
    padding-left: 7px;
}

#faq-page .article {
    line-height: 27px;
}

#faq-page .article p {
    margin-bottom: 27px;
}

#faq-page .article p em {
    font-weight: bold;
}

#faq-page .article .plane {
    background: url('../img/flights-plane.png') left top no-repeat transparent;
    float: right;
    height: 90px;
    width: 194px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#faq-page .article .smile {
    background: url('../img/flights-smile.png') left top no-repeat transparent;
    float: right;
    height: 90px;
    width: 194px;
    margin-left: 15px;
}

#loyalty-page .header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

#loyalty-page .heading {
    margin: 26px 0 0;
    position: relative;
}

#loyalty-page .heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

#loyalty-page .heading .callback {
    background: url('../img/contacts-callback.jpg') repeat-x;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 41px;
    padding-top: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    top: 17px;
    width: 189px;
}

#loyalty-page .article {
    line-height: 27px;
    width: 770px;
}

#loyalty-page .article .sun {
    background: url('../img/flights-sun.png') no-repeat transparent;
    float: right;
    height: 123px;
    width: 350px;
}

#loyalty-page .article .smile {
    background: url('../img/flights-smile2.png') left bottom no-repeat transparent;
    float: right;
    height: 238px;
    width: 175px;
}

#fade {
    background: url('../img/fade-bg.png');
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#modal-form {
    background: #fff;
    border: 2px solid #0bba8b;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px #666;
    display: none;
    height: 437px;
    left: 50%;
    margin-left: -264px;
    margin-top: -218px;
    padding: 40px;
    position: fixed;
    top: 50%;
    width: 528px;
    z-index: 10100;
}

#modal-form .caption {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}

#modal-form .subcaption {
    font-size: 15px;
}

#modal-form form {
    margin-top: 28px;
    width: 100%;
}

#modal-form form fieldset {
    height: 60px;
    position: relative;
    width: 100%;
}

#modal-form form fieldset label {
    font-weight: normal;
    width: 118px;
}

#modal-form form fieldset input {
    border: 1px #e8e8e8;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px 1px #999;
    font-size: 14px;
    height: 30px;
    left: 128px;
    padding: 7px;
    position: absolute;
    top: -2px;
    width: 315px;
}

#modal-form form button {
    background: url('../img/form-button.jpg') left top repeat-x;
    border: 0;
    border-radius: 22px;
    color: #fff;
    font-size: 16px;
    height: 44px;
    margin-left: 128px;
    padding: 0 35px;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
}

#modal-form .close {
    color: #666;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#modal-form .close:hover {
    color: #f68400;
}

#modal-certificate {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px #666;
    display: none;
    height: 700px;
    left: 50%;
    margin-left: -275px;
    margin-top: -350px;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 550px;
    z-index: 10100;
}

#modal-certificate .close {
    color: #666;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

#modal-certificate img {
    max-height: 660px;
    max-width: 510px;
}