.me-header-separator {
    background: url('../img/header-separator.jpg') repeat-x;
    height: 4px;
}

.me-heading {
    margin: 26px 0 0;
    position: relative;
}

.me-heading h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    padding: 0;
}

.me-heading div {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 17px;
    width: 210px;
}

.me-heading .me-callback {
    background: url('../img/contacts-callback.jpg') repeat-x;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 41px;
    padding-top: 7px;
    /*position: absolute;*/
    /*right: 0;*/
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    /*top: 17px;*/
    width: 210px;
}

.me-article {
    line-height: 27px;
    width: 776px;
}

.me-article p {
    margin-bottom: 27px;
}

.me-article .me-star {
    background: url('../img/visa-star.png') left 10px no-repeat transparent;
    float: right;
    height: 85px;
    width: 151px;
}

.me-article .me-smile {
    background: url('../img/visa-smile.png') left top no-repeat transparent;
    float: right;
    height: 59px;
    margin-top: 75px;
    width: 118px;
}